<h1 class="h3style">My Profile</h1>

<section class="user-info">
    <div class="profile-img-container">
        <img src="{{profile.imageUrl}}" alt="" class="profile-img" width="270px">
    </div> 
    <article class="profile-data">
        <h2>{{profile.username}}</h2>
        <p>{{profile.fullName}}</p>
        <p class ='bioText'>{{profile.profileInfo}}</p>
    </article>
    <a href="/profile/edit-profile" class="btn-reg">Edit Profile</a> 
    <a href="/location" class="btn-ghost">All Locations</a> 
</section>

<section class="location-container">
    <h2>My Locations ({{count}})</h2>
    {{#each locationDb}}
    <a href="/location/detail/{{this._id}}" class="detail-card">
        <div class="location-card">
            <div class="location-img-container">
                <img src="{{this.photo}}" alt="location-image" class="location-img" width="250px">
                {{#if locationDb.liked}}
                <form action="/like/{{this._id}}" method="post">
                    <button class="transparent-btn">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-clicked.png" alt="" width="40px">
                        </button>
                </form>
                {{else}}
                <form class ="form-class" action="/like/{{this._id}}" method="post">
                    <button class="transparent-btn button-class">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-nonclicked.png" alt="" width="40px">
                    </button>
                </form>
                {{/if}}
            </div>
            <article class="location-data">
                <h3>Location-Name: {{this.city}}</h3>
                <div class="card-footer">
                    <p>Category: {{this.category}}</p>
                    <p>Level: {{this.level}}</p>
                </div>
                {{!-- <p>Created at: {{this.createdAt}}</p> --}}
            </article>
        </div>
    </a>
    {{/each}}
</section>



