<br>
<h1 class="h1-center"><span class="spanBlue">Favorite</span> Spots</h1>

<section class="location-container">
    {{#each locPopulate}}
    <a href="/location/detail/{{this._id}}" class="detail-card">
        <div class="location-card">
            <div class="card-header">
                <div class="profile-img-container-sm">
                    <img class="profile-img-sm" src="{{this.creator.imageUrl}}" alt="profile image">
                </div>
                <span>{{this.creator.username}}</span>
            </div>
            <div class="location-img-container">
                <img src="{{this.photo}}" alt="location-image" class="location-img">
                <form action="/like/{{this._id}}/delete-fave" method="post">
                    <button class="transparent-btn"><img class="icon-btn" src="/images/navbar-Icons/bin-white.png" alt="" width="40px"></button>
                </form>
            </div>
            <article class="location-data">
                <h3>Location-Name: {{this.city}}</h3>
                <div class="card-footer">
                    <p>Category: <span>{{this.category}}</span></p>
                    <p>Level: <span>{{this.level}}</span></p>
                </div>
                {{!-- <p>Created at: {{this.createdAt}}</p> --}}
            </article>
        </div>
    </a>
    {{/each}}
</section>