{{!-- Display the map--}}

<a href="/map">
    <section id="map-sm">
        <div class="map2" id="map"></div>

        {{!-- Create hidden elements to store the display style of the map--}}
        <div class="hidden map-center"> {{mapCenter}}  </div>
        <div class="hidden map-zoom">  {{mapZoom}}  </div>

        {{!-- Create the markers and the popups for every location --}}
        {{#each littleMapDb}}
        <div class="hidden popup">
            <img src="{{this.photo}}" alt="postcard">
            <h1>{{this.category}}</h1>
            <p>{{this.level}}</p>

            <a href="/location/detail/{{this._id}}">Find out more</a>
        </div>

        <div class="hidden pos">  {{this.coordinate}}  </div>
        <div class="marker">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="25px" height="25px" fill="#E0144C" viewBox="0 0 395.71 395.71" style="enable-background:new 0 0 395.71 395.71;"
            xml:space="preserve">
        <g>
            <path d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738
                c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388
                C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191
                c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z"/>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
            </svg>
        </div>
        <br>
        <br>

        {{/each}}
    </section>
</a>



<section class="location-container">
    {{#each locationDb}}
    <a href="/location/detail/{{this._id}}" class="detail-card">
        <div class="location-card">
            <div class="card-header">
                <div class="profile-img-container-sm">
                    <img class="profile-img-sm" src="{{this.creator.imageUrl}}" alt="profile image">
                </div>
                <span>{{this.creator.username}}</span>
            </div>
            <div class="location-img-container">
                <img src="{{this.photo}}" alt="location-image" class="location-img">
                {{#if this.liked}}
                <form id="dislike-btn" class="dislike-btn" action="/like/{{this._id}}/delete" method="post">
                    <button class="transparent-btn">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-clicked.png" alt="" width="40px">
                        </button>
                </form>
                <form id="like-btn" class="like-btn hidden" action="/like/{{this._id}}" method="post">
                    <button class="transparent-btn">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-nonclicked.png" alt="" width="40px">
                    </button>
                </form>
                {{else}}
                <form id="dislike-btn" class="dislike-btn hidden" action="/like/{{this._id}}/delete" method="post">
                    <button class="transparent-btn">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-clicked.png" alt="" width="40px">
                        </button>
                </form>
                <form  id="like-btn" class="like-btn" action="/like/{{this._id}}" method="post">
                    <button class="transparent-btn">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-nonclicked.png" alt="" width="40px">
                    </button>
                </form>
                {{/if}}
            </div>
            <article class="location-data">
                <h3>Location-Name: {{this.city}}</h3>
                <div class="card-footer">
                    <p>Category: <span>{{this.category}}</span></p>
                    <p>Level: <span>{{this.level}}</span></p>
                </div>
                {{!-- <p>Created at: {{this.createdAt}}</p> --}}
            </article>
        </div>
    </a>
    {{/each}}
</section>