<h1>Spot your Spot</h1>

<section class="location-container">
    {{#each locationDb}}
    <a href="/location/detail/{{this._id}}" class="detail-card">
        <div class="location-card">
            <div class="card-header">
                <img class ="profile-img-listing" src="{{this.creator.imageUrl}}" alt="profile image">
                <span>{{this.creator.username}}</span>
            </div>
            <div class="location-img-container">
                <img src="{{this.photo}}" alt="location-image" class="location-img">
                {{#if this.liked}}
                <form id="dislike-btn" class="dislike-btn" action="/like/{{this._id}}/delete" method="post">
                    <button class="transparent-btn">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-clicked.png" alt="" width="40px">
                        </button>
                </form>
                <form id="like-btn" class="like-btn hidden" action="/like/{{this._id}}" method="post">
                    <button class="transparent-btn">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-nonclicked.png" alt="" width="40px">
                    </button>
                </form>
                {{else}}
                <form id="dislike-btn" class="dislike-btn hidden" action="/like/{{this._id}}/delete" method="post">
                    <button class="transparent-btn">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-clicked.png" alt="" width="40px">
                        </button>
                </form>
                <form  id="like-btn" class="like-btn" action="/like/{{this._id}}" method="post">
                    <button class="transparent-btn">
                        <img class="icon-btn"src="/images/navbar-Icons/heart-nonclicked.png" alt="" width="40px">
                    </button>
                </form>
                {{/if}}
            </div>
            <article class="location-data">
                <h3>Location-Name: {{this.city}}</h3>
                <div class="card-footer">
                    <p>Category: {{this.category}}</p>
                    <p>Level: {{this.level}}</p>
                </div>
                {{!-- <p>Created at: {{this.createdAt}}</p> --}}
            </article>
        </div>
    </a>
    {{/each}}
</section>