<section class="detail-container">
    <div class="detail-img-container">
        <img src="{{locationDb.photo}}" alt="location-image" class="location-img-detail">
    </div>
        <article class="detail-data">
            <h2>Location-Name: {{locationDb.city}}</h2>
            <div class="description-detail">
                <img src="/images/navbar-Icons/quotation-start.png" alt="" class="quot quot-start">
                <p> {{locationDb.description}}</p>
                <img src="/images/navbar-Icons/quotation-end.png" alt="" class="quot quot-end">
            </div>
            <div class="category-level">
                <p class="spanBlue">Category: <span>{{locationDb.category}}</span></p>
                <p class="spanBlue">Level: <span>{{locationDb.level}}</span></p>
            </div>
            <div class="creator-footer">
                <p>{{locationDb.creator.username}}</p>
                <div class="profile-img-container-sm">
                    <img class="profile-img-sm" src="{{locationDb.creator.imageUrl}}" alt="profile image">
                </div>
            </div>
        </article>
</section>