<section class="detail-container">
    <div class="detail-img-container">
        <img src="{{locationDb.photo}}" alt="location-image" class="location-img-detail">
    </div>
        <article class="detail-data">
            <h2>Location-Name: {{locationDb.city}}</h2>
            <div class="description-detail">
                <img src="/images/navbar-Icons/quotation-start.png" alt="" class="quot quot-start">
                <p> {{locationDb.description}}</p>
                <img src="/images/navbar-Icons/quotation-end.png" alt="" class="quot quot-end">
            </div>
            <p>Category: {{locationDb.category}}</p>
            <p>Level: {{locationDb.level}}</p>
            <div class="creator-footer">
                <p>{{locationDb.creator.username}}</p>
                <img class="profile-img-listing" src="{{locationDb.creator.imageUrl}}" alt="">
            </div>
        </article>
</section>